<div id='about'>
  <div class="flex items-center justify-between sticky top-2 left-0">
    <h1 class="bg-white/10 backdrop-blur-lg text-8xl">about</h1>
    <div class="flex items-center justify-center w-48 h-48 bg-black rounded-full relative">
      <div class="absolute w-8 h-8 bg-white rounded-full" style="top: 30%; left: 25%;"></div>
      <div class="absolute w-8 h-2 bg-white rounded-full" style="top: 35%; right: 25%;"></div>
      <div class="absolute w-24 h-12 bg-white rounded-t-full"
        style="bottom: 25%; left: 50%; transform: translateX(-50%) rotate(180deg);"></div>
    </div>
  </div>

  <div class="grid grid-cols-8">
    <div class="col-span-5 lg:col-span-3">
      <img src="/assets/profile.jpeg" alt="" class="w-full rounded-xl" />
      <div class="flex items-center justify-between gap-2 mt-4">
        <p class="font-heading text-xl font-bold">ABDULLAH MEMON</p>
        <p>last birth <span id='age'>22</span>y ago</p>
      </div>
      <p class="mt-4">
      From a single line of code, my journey has evolved into becoming a skilled full-stack developer with a passion for design. I have hands-on experience across multiple platforms, including mobile, desktop, and web applications. I’m committed to honing my craft and staying at the forefront of emerging technologies and industry trends.
      </p>
    </div>
  </div>

  <div class="timeline-container">
    <div class="timeline-grid">
      <div class="year">2004</div>
      <div class="line">
        <div class="dot"></div>
      </div>
      <div class="content">
        <h3>Early Gaming Journey</h3>
        <p>Started gaming on PC at the tender age of 3, marking the beginning of a technological journey.</p>
      </div>

      <div class="year">2011</div>
      <div class="line">
        <div class="dot"></div>
      </div>
      <div class="content">
        <h3>FPS Mastery</h3>
        <p>Became a proficient gamer, specializing in FPS games and developing quick strategic thinking.</p>
      </div>

      <div class="year">2014</div>
      <div class="line">
        <div class="dot"></div>
      </div>
      <div class="content">
        <h3>First Steps in Automation</h3>
        <p>Discovered AutoHotkey and automated mundane gaming tasks, farming billions of points through clever
          scripting.</p>
      </div>

      <div class="year">2017</div>
      <div class="line">
        <div class="dot"></div>
      </div>
      <div class="content">
        <h3>Programming Journey Begins</h3>
        <p>Started building functional applications using C#, laying the foundation for a career in software
          development.</p>
      </div>

      <div class="year">2018</div>
      <div class="line">
        <div class="dot"></div>
      </div>
      <div class="content">
        <h3>Web Development Era</h3>
        <p>Discovered JavaScript and began creating web applications, quickly becoming proficient in HTML5.</p>
      </div>

      <div class="year">2020</div>
      <div class="line">
        <div class="dot"></div>
      </div>
      <div class="content">
        <h3>Professional Development</h3>
        <p>Started building enterprise-level applications and secured first professional role, finding purpose in
          software development.</p>
      </div>
    </div>
  </div>

</div>
