<div>
  <p class="text-center text-xl font-medium mb-16">The Extraordinary Process</p>
  <div class="grid grid-cols-3 items-center">
    <p class="cursor-default rotate-90 origin-left mb-16 text-xl font-medium has-tooltip" data-tooltip-text="A deep dive to understand your vision and mitigate risks before coding begins.">1. The Map</p>
    {% include "components/generative-art.njk" %}
    <p class="-rotate-90 cursor-default origin-right text-xl font-medium mb-16 text-right has-tooltip" data-tooltip-text="Agile development with continuous feedback and rapid iteration to build your project.">2. The Engine</p>
  </div>
  <p class="text-xl font-medium mt-16 cursor-default text-center has-tooltip" data-tooltip-text="A long-term partnership for continuous evolution and maintenance of your software.">3. The Partnership</p>
</div>
