<div class="mt-36 bg-black h-[1px]"></div>
<footer class="py-10">
  <div class="container mx-auto px-6 grid grid-cols-2 sm:grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-y-8 gap-x-4">
    <ul class="lg:col-span-2">
      <li><a target='_blank' href="https://www.behance.net/abdielprime" class="hover:underline">Behance</a></li>
      <li><a target='_blank' href="https://dribbble.com/abdielprime" class="hover:underline">Dribbble</a></li>
      <li><a target='_blank' href="https://instagram.com/azterizm" class="hover:underline">Instagram</a></li>
    </ul>

    <ul class="lg:col-span-2">
      <li><a target='_blank' href="https://github.com/azterizm/" class="hover:underline">GitHub</a></li>
      <li><a target='_blank' href="https://upwork.com/freelancers/abdullahmemon3" class="hover:underline">Upwork</a>
      </li>
      <li><a target='_blank' href="https://www.freelancer.com/u/abdielprime" class="hover:underline">Freelancer</a></li>
    </ul>

    <ul class="lg:col-span-2">
      <li><a target='_blank' href="https://www.linkedin.com/in/abdullah-memon-9565352a5/"
          class="hover:underline">LinkedIn</a></li>
      <li><a target='_blank' href="https://www.threads.net/@azterizm" class="hover:underline">Threads</a></li>
    </ul>
    

    <ul class="lg:col-span-2">
      <li><a target='_blank' href="https://dev.to/azterizm"
          class="hover:underline">Dev.to</a></li>
      <li><a target='_blank' href="https://medium.com/@azterizm" class="hover:underline">Medium</a></li>
      <li><a target='_blank' href="https://www.youtube.com/@azterizm" class="hover:underline">YouTube</a></li>
    </ul>

    <ul class="md:col-start-7 lg:col-start-11 lg:col-span-2">
      <li><a target='_blank' href="mailto:abdielprime@gmail.com" class="hover:underline">Email</a></li>
      <li><a href="https://github.com/azterizm/portfolio-11ty/">Source code</a></li>
    </ul>
  </div>

  <!-- Copyright Information -->
  <div class="container mx-auto px-6 mb-16 md:mb-0 mt-8 text-center text-sm text-black/40">
    © 2024 Abdullah Memon's Portfolio
  </div>
</footer>
