<div class="min-h-[90vh] flex flex-col">
  <div>
    <h1 class="font-bold sm:-translate-x-2 w-full text-[20vw]">IMAGINE</h1>
    <h2 class="text-[10vw] -mt-[10vw]">ELEGANT</h2>
  </div>
  <div class="flex-1"></div>
  <div class="flex items-end justify-between gap-2 w-full">
    <p>
      <span class="text-md">with</span><br />
      <span class="text-xl">ABDULLAH MEMON</span>
    </p>
    <p class="text-sm max-w-[22rem]">
      HE is designer and developer of digital stuff. As a designer and developer of digital stuff, he has the ability to
      build anything out of thin air without magic.
    </p>
  </div>
</div>
