<div class="min-h-[90vh] flex flex-col">
  <div class="flex-1 flex flex-col justify-center">
    <h1 class="text-animate font-bold w-full leading-none"
      style="--top: clamp(8vw, 16vw, 15rem);font-size: var(--top);">
      <span>IMAGINE</span>
    </h1>
    <h2 class="text-animate leading-none"
      style="--delay: 0.5s; --top: clamp(5vw, 10vw, 7.5rem); font-size: var(--top); margin-top: clamp(-1vw, -10vw, -7.5rem);">
      <span>ELEGANT</span>
    </h2>
  </div>
  <div class="flex items-end justify-between gap-2 w-full flex-col sm:flex-row">
    <p>
      <span class="text-md">with</span><br />
      <span class="text-xl">ABDULLAH MEMON</span>
    </p>
    <p class="text-sm max-w-[22rem] text-right">
      Merging design elegance with technical expertise. Transforming visionary concepts into robust digital
      solutions, engineering the extraordinary from pure abstraction using code as the creative medium.
    </p>
  </div>
</div>
