<script defer src='/assets/scripts/setup-age.js'></script>
<script defer src='/assets/scripts/setup-menu.js'></script>
<script defer src='/assets/scripts/setup-scroll.js'></script>
<script defer src='/assets/scripts/setup-services.js'></script>
<script defer src='/assets/scripts/setup-talk.js'></script>
<script defer src='/assets/scripts/setup-testimonials.js'></script>
<script defer src='/assets/scripts/setup-eye-animation.js'></script>
<script src="//embed.typeform.com/next/embed.js"></script>
