<script defer src='/assets/scripts/setup-age.js'></script>
<script defer src='/assets/scripts/setup-menu.js'></script>
<script defer src='/assets/scripts/setup-scroll.js'></script>
<script defer src='/assets/scripts/setup-services.js'></script>
<script defer src='/assets/scripts/setup-talk.js'></script>
<script defer src='/assets/scripts/setup-testimonials.js'></script>
<script defer src='/assets/scripts/setup-eye-animation.js'></script>
<script defer src='/assets/scripts/setup-scroll-to-top.js'></script>
<script src="//embed.typeform.com/next/embed.js"></script>
{# Add GSAP and ScrollTrigger for animations on the homepage #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
{# New script for recent articles animations #}
<script defer src='/assets/scripts/setup-recent-articles.js'></script>
