<script src='/assets/scripts/setup-age.js'></script>
<script src='/assets/scripts/setup-menu.js'></script>
<script src='/assets/scripts/setup-scroll.js'></script>
<script src='/assets/scripts/setup-eye-animation.js'></script>
