<div id="talk-btn"
  class="cursor-pointer px-6 rounded-full bg-pure-white text-black flex items-center gap-2 justify-between py-2 border-2 border-black w-48 fixed bottom-8 right-8 transition-transform duration-300 translate-x-56 z-10">
  <div class='talk-btn-content' data-tf-live="01JCSQ3SRMGCRG8X4HWB38Z62C"></div>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256">
    <path
      d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
    </path>
  </svg>
</div>
