<div id='work'>
  <div class="flex items-center justify-between sticky top-2 left-0">
    <h1 class="bg-white/10 backdrop-blur-lg text-8xl">work</h1>
    <div class="relative">
      <img src="/assets/eye-bg.png" alt="" class='w-56' />
      <div id='eye-ball'
        class="transition-all duration-100 ease-in-out bg-pure-white w-12 h-16 rounded-[50%] absolute inset-6"></div>
    </div>
  </div>
  <div class="grid grid-cols-8 mt-16 gap-x-8 gap-y-16">
    {% for project in collections.projects %}
    <div class="col-span-5 lg:col-span-3 project-item">
      <div class="relative">
        <img src="{{ project.data.main_image }}" alt="{{project.data.title}}"
          class="w-full mb-4 rounded-xl main-image" />
        <div class="p-4 bg-white/30 backdrop-blur-lg rounded-lg absolute top-4 left-4 ">
          <img src="{{project.data.logo}}" alt="{{title}} logo" class="w-8 lg:w-16 project-logo" />
        </div>
      </div>
      <p class="project-title text-3xl">{{project.data.title}}</p>
      <p class="text-md">{{project.data.year}}</p>
    </div>
    <div class="col-span-5 -mt-12 lg:mt-0 lg:col-span-2 flex flex-col justify-between">
      <p>{{ project.data.description }}</p>
      <p class="mt-4 lg:mt-0">{{project.data.technologies | join(', ')}}</p>
    </div>
    <div class="col-span-3 flex flex-col justify-end">
      <a href='{{project.page.url}}'
        class="p-4 w-full bg-white border-2 border-black flex items-center justify-center rounded-full cross-fade-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#000000" viewBox="0 0 256 256">
          <path
            d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
          </path>
        </svg>
      </a>
    </div>
    <div class="col-span-8 bg-black h-[1px]"></div>
    {% endfor %}
  </div>
</div>
