<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- SEO Meta Tags -->
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="keywords" content="{{ metadata.keywords }}">
  <meta name="author" content="{{ metadata.author.name }}">
  <link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ metadata.url }}{{ page.url | url }}">
  <meta property="og:title" content="{{ title or metadata.title }}">
  <meta property="og:description" content="{{ description or metadata.description }}">
  <meta property="og:image" content="{{ metadata.url }}/assets/profile.webp">
  <meta property="og:image:alt" content="Profile picture of Abdullah Memon">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ metadata.url }}{{ page.url | url }}">
  <meta property="twitter:title" content="{{ title or metadata.title }}">
  <meta property="twitter:description" content="{{ description or metadata.description }}">
  <meta property="twitter:image" content="{{ metadata.url }}/assets/profile.webp">
  <meta name="twitter:image:alt" content="Profile picture of Abdullah Memon">

  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/blog.css" />
  <link rel="stylesheet" href="/css/about.css" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/services.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/scroll-to-top.css" />
  <link rel="stylesheet" href="/tailwind.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
</head>

<body>
  <div class="container mx-auto px-4">
    {% include "components/navbar.njk" %}
    {% block content %}
    <div id='page-wrapper' class="space-y-36 page-content no-fouc">
      {{ content | safe }}
    </div>
    {% endblock %}
    {% include "components/footer.njk" %}
  </div>
  
  {% include 'components/talk-btn.njk' %}

  {% include 'components/scroll-to-top.njk' %}

  {% include 'components/scripts.njk' %}

</body>

</html>
