---
layout: layouts/base.njk
---
<article class="prose lg:prose-xl mx-auto py-20">
  <h1>{{ title }}</h1>
  <p class="text-gray-500 inline-flex items-center space-x-2">
    <span>Published on {{ page.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}</span>
    {% if tags %}
      <span class="text-gray-400">|</span>
      <span class="flex space-x-1">
        {% for tag in tags %}
          <a href="/tag/{{ tag }}/" class="text-xs text-indigo-600 hover:underline">{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </p>
  <div class="mt-8">
    {{ content | safe }}
  </div>
</article>
