<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/transition.css" />
  <link rel="stylesheet" href="/css/scroll-to-top.css" />
  <link rel="stylesheet" href="/tailwind.css" />
  <title>{{title}} project | Abdullah Memon Portfolio Website</title>
</head>

<body>
  <div class="container mx-auto px-4">
    {% include "components/navbar.njk" %}
    <div id='page-wrapper' class="page-content my-24 no-fouc">
      <a href='/#work' class="p-4 w-56 bg-white border-2 border-black flex items-center justify-center rounded-full sticky top-4 left-0 z-10">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
          <path
            d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z">
          </path>
        </svg>
      </a>
      <div class="grid grid-cols-8 gap-x-8 lg:sticky top-8 left-8 mt-16">
        <div class="col-span-8 lg:col-span-5" id='main'>
          <div class="duration-300 transform-opacity relative" id='main_image_container'>
            <img src="{{main_image}}" alt="{{title}} main image"
              class="w-full rounded-xl aspect-video object-contain bg-black main-image" />
            <div class="p-4 bg-white/30 backdrop-blur-lg rounded-lg absolute top-4 left-4 ">
              <img src="{{logo}}" alt="{{title}} logo" class="w-16 lg:w-24 project-logo" />
            </div>
          </div>
        </div>
        <div class="lg:mt-0 col-span-2 lg:flex hidden flex-col justify-between" id='details'>
          <p>{{description}}</p>
          <p class="mt-4 lg:mt-0">{{technologies | join(", ")}}</p>
        </div>
        <div></div>
        <div class="col-span-8">
          <h1 id='title' class="project-title w-max transition-transform duration-300 mt-4 text-3xl">{{title}}</h1>
        </div>

        <div class="lg:hidden line transition-all duration-300 col-span-8 bg-black h-[1px] my-4"></div>
        <div class="lg:hidden col-span-5 transition-opacity duration-300">Description</div>
        <div class="lg:hidden col-span-3">{{description}}</div>

        <div class="lg:hidden line transition-all duration-300 col-span-8 bg-black h-[1px] my-4"></div>
        <div class="lg:hidden col-span-5 transition-opacity duration-300">Technologies</div>
        <div class="lg:hidden col-span-3">{{technologies | join(", ")}}</div>

        <div class="line transition-all duration-300 col-span-8 bg-black h-[1px] my-4"></div>
        <div class="col-span-5 transition-opacity duration-300">Year</div>
        <div class="col-span-3">{{year}}</div>

        <div class="line transition-all duration-300 col-span-8 bg-black h-[1px] my-4"></div>
        <div class="col-span-5 transition-opacity duration-300">Role</div>
        <div class="col-span-3 flex flex-col">
          {% for role in roles %}
          <span>{{ role }}</span>
          {% endfor %}
        </div>

        {% if company %}
        <div class="line transition-all duration-300 col-span-8 bg-black h-[0.5px] my-4"></div>
        <div class="col-span-5 transition-opacity duration-300">Company</div>
        <div class="col-span-3">{{company}}</div>
        {% endif %}

        {% if website %}
        <div class="line transition-all duration-300 col-span-8 bg-black h-[0.5px] my-4"></div>
        <div class="col-span-5 transition-opacity duration-300">Website</div>
        <a target='_blank' href='{{website}}' class="hover:underline col-span-3">
          {{ website | replace('https://', '') | replace('/', '') }}
        </a>
        {% endif %}

        {% if project_link %}
        <div class="line transition-all duration-300 col-span-8 bg-black h-[0.5px] my-4"></div>
        <div class="col-span-5 transition-opacity duration-300">Project Link</div>
        <a target='_blank' href='{{project_link}}' class="hover:underline col-span-3">Github Repo</a>
        {% endif %}

      </div>
      <div class="mt-8 prose prose-headings:text-black" id='content'>
        {{ content | safe }}
      </div>
    </div>
    {% include "components/footer.njk" %}
  </div>
  {% include "components/talk-btn.njk" %}
  {% include 'components/scroll-to-top.njk' %}
  <script defer src='/assets/scripts/setup-project-page-animation.js'></script>
  <script defer src='/assets/scripts/setup-project-page-layout.js'></script>
  <script defer src='/assets/scripts/setup-scroll.js'></script>
  <script defer src='/assets/scripts/setup-talk.js'></script>
  <script defer src='/assets/scripts/setup-menu.js'></script>
  <script defer src='/assets/scripts/setup-scroll-to-top.js'></script>
  <script src='/assets/scripts/setup-transition.js'></script>
  <script src="//embed.typeform.com/next/embed.js"></script>

</body>

</html>
