html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3ff;
  color: #000040;
}

.text-animate {
  overflow: hidden;
}

.text-animate span {
  top: var(--top);
  position: relative;
  animation: textAnimate 1s cubic-bezier(0, 0.55, 0.45, 1);
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
}

@keyframes textAnimate {
  to {
    top: 0
  }
}


#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 15px;
}

#nav-icon span:nth-child(4) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 8px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon:focus {
  outline: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000040;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
