---
layout: layouts/base.njk
---
{% include 'components/hero.njk' %}
{% include 'components/recent-articles.njk' %}
{% include 'components/work.njk' %}
{% include 'components/development-process.njk' %}
{% include 'components/testimonials.njk' %}
{% include 'components/services.njk' %}
{% include 'components/about.njk' %}
